{{ $address := .Site.Params.address}}
  <section class="hero" style="background-image: url(images/msp2.jpg);">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
          <div class="contact-aria testimonial-content">
            <h3>
              {{ $address.address | safeHTML }}
            </h3>
            <ul>
              <li> <a href="mailto:{{ $address.email }}">{{ $address.email }}</a></li>
              <li><a href="tel:{{ $address.phone}}">{{ $address.phone }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>